/*CSS của header&footer*/
div#Header {
  height: 15vw;
  background-repeat: no-repeat;
  posision: relative;
  background-image: url("https://github.com/AnPhuoc10x/Web-and-Mobile-Tech-HomepageProject/blob/main/image/Pacific%20Northwest%20X-ray%20Inc..png?raw=true");
  background-position: center;
  background-size:80%;
}
.Contact a {
  color:#d3eaf2;
  text-decoration: none;
}
.Contact a:hover {
  color:#d3eaf2;
  text-decoration: underline;
}

div.Contact {
  background-color: #253941;
  height: auto;
  color: #d3eaf2;
  border: 0;
  position: relative;
  font-family: Helvetica,Arial;
  font-size:1vw;
  padding-left:3%;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:80px;
}
div.Group-Info {
  background-color: #282d31;
  height: auto;
  color: white;
  text-weight:bold;
  font-family: Helvetica,Arial;
  font-size:1vw;

  text-align:center;
  display:flex;
  justify-content:space-between;
  padding: 20px 5% 20px 5% 
}
.last {
  background-color: #253941;
  text-align: center;
  padding: 5px;
  color:white;
 font-size:0.8vw;
}
.Payment img {
  max-width: 20vw;
  height: auto;
}
.Payment {
  position: absolute;
  right: 5%;
  top: 30%;
}

/*CSS của nav bar*/
}
body {
  z-index: 0;
}

/*Copy nav bar từ đây đến hết*/
div.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}
div.navigation {
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  align-items: stretch;
  position: sticky;
  top: 0;
  width: 100%;
  
  height: 40px;
  margin-bottom:1.5vw;
}
button {
  transition-duration: 0.3s;
}
button.Product-Button,
button.HomePage-Button,
button.About-Button {
  font-size: 2vw;
  width: 100%;
  border: none;
  background-color: #bee0ec;
  
}
div.lol {
  /* lol là div chứa 3 botton của nav bar*/
  width: calc((100%) - 1px);
  
  
} /* chỉnh độ rộng cho button vì button nằm trong div này */

button.Product-Button:hover,
button.HomePage-Button:hover,
button.About-Button:hover {
  background-color: #99d5eb;
 
}
div.MenuButton Button {
  background-color: #76c1db;
  width: 100%;
  cursor: pointer;
  padding: 9px;
 
border:none;
  border-bottom:solid white;
  font-size: 1vw;

}
.menu {

  display: none; /*none by default*/
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  
}
div.MenuButton Button:hover {
    background-color: #45b1d9;
}

.PageContent{
  height:auto; /*đổi thành auto sau khi thêm content xong*/
}

/*Paste CSS dưới dòng này + note thêm là CSS của cái gì*/ 
/*nhớ kiểm xem có select nhầm mấy cái ở trên k*/

.Box {
  background-color: #e2f2f8;
  width: auto;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
margin-bottom:40px;
  align-items: center;
align-content: stretch;
  padding-top:25px;
  padding-bottom:25px;
}
#ImageSlide {
  display:flex;
  max-height:400px;
  height:100%;
  width:50%;
  background-color:rgba(0,0,0,0.1);
 justify-content: space-between;
align-items: center;
}
#ProductImage {
  display:flex;
height:100%;
}
#ProductImage img {
  height:100%;
  width:100%;
}
.ProductName {
  background-color:rgba(0,0,0,0);
  width:40%;
  height:100%;
}

.ButtonLeft button {
border-right: none;
border-top: none;
transform: translateX(25%) rotate(45deg);
padding: 19px;
background-color: rgba(0,0,0,0);
}

.ButtonLeft button:hover {
 border-left: 5px solid rgba(0, 0, 0, 255);
border-bottom: 5px solid rgba(0, 0, 0, 255);
}

.ButtonRight button {
 border-left: none;
border-bottom: none;
transform: translateX(-25%) rotate(45deg);
padding: 19px;
background-color: rgba(0,0,0,0);
}

.ButtonRight button:hover {
 border-right: 5px solid rgba(0, 0, 0, 255);
border-top: 5px solid rgba(0, 0, 0, 255);

}

h2 {
  margin-top:50px;
   margin-bottom:50px;
  text-align:center;
  font-size:3vw;
  font-weight: bold;
  }

.ProductName {
  text-align:center;
  font-weight: bold;
  font-size:50px;
  font-family:Helvetica,Arial;
}
.ProductName:hover {
  cursor: pointer; }

#visual {height:auto;
width:80%;
}
#Welcome{
  display:flex;
  flex-direction: column;
  align-items: center
}
#Welcome span {
  font-weight:bold;
  
}
#Welcome p{
  font-size:1.3vw;
  font-family:Helvetica,Arial;
  text-align:center;
  border-right:4mm solid #45b1d9;
  border-left:4mm solid #45b1d9;
  border-radius:30px;
  padding-bottom:20px;
  background-color:;
  max-width:80%;
  padding:30px;
  background-color:lightble;

}

#MoreProductContainer{
  display:flex;
  width:100%;
  justify-content: space-evenly;
  align-content: center;
  
}
.MoreProduct {
  font-family:Helvetica,Arial;
  font-weight:bold;
  text-decoration:none;
  border-radius:10px;
  text-align:center;
  width:15%;
  height:20%;  
  display:flex;
justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top:10px;
  text-transform: uppercase;
}
.MoreProduct img{
  width:50%;
  height:50%;
}
.MoreProduct:hover {
  background-color:#bee0ec;
 transition-duration: 0.3s;
    text-decoration:underline;
cursor:pointer;
}


.WhyUs img{
    width:90%;
    height:auto;
padding-left:5%;
}

.NeedContact {
  background-color:#d3eaf2;
  display:flex;
  justify-content: space-around;
  padding:15px;
  margin-top:50px;
  font-family:helvetica, sans serif;
  font-size:1.5vw;
  background-image:url('image/background.jpg');
   background-repeat: no-repeat;
   background-position: center;
  background-size:100%;
  
}
.NeedContact button {
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
 font-weight:bold;
  font-size:1vw;
}
.NeedContact button:hover {
background-color:#99d5eb;
transition-duration: 0.3s;
 
cursor:pointer;
    padding-left:19px;  padding-right:19px;


    
}
